<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>
  <%- include('partials/navbar.ejs') %>

  <main id="index-container">
    <section class="carousel-container">
      <div class="carousel-track">
        <img src="images/tienda/mortal-kombat-1.png" alt="Imagen 1" class="carousel-item">
        <img src="/images/tienda/Fortnite.jpg" alt="Imagen 2" class="carousel-item">
        <img src="/images/tienda/fc-24.jpg" alt="Imagen 3" class="carousel-item">
      </div>

      <div class="carousel-indicators">
        <span class="indicator" data-index="0"></span>
        <span class="indicator" data-index="1"></span>
        <span class="indicator" data-index="2"></span>
      </div>
      
      <button id="antBtn" class="carousel-btn"><i class="fas fa-chevron-left"></i></button>
      <button id="sigBtn" class="carousel-btn"><i class="fas fa-chevron-right"></i></button>
    </section> 
  </main>

  <%- include('partials/footer.ejs') %>
  
  <script src="js/index.js"></script>
</body>
</html>