<footer id="footer-container">
  <div class="footer-space">
    <section class="footer-socialmedia">
      <div class="social-facebook">
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="social-twitter">
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="social-instagram">
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="social-youtube">
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="social-tiktok">
        <a href="#"><i class="fab fa-tiktok"></i></a>
      </div>
    </section>

    <section class="footer-terms">
      <p>
        Copyright © 2023-2023 Gigagames.
      </p>
    </section>
  </div>
</footer>