<header id="header-container">
  <nav class="header-navbar">
    <div class="burger-navbar">
      <img src="images/navbar/gigagames_logo.png" alt="Logo Gameverse" class="header-logo">

      <button class="burger-menu" onclick="toggleNavLinks()">
        <i class="fas fa-bars"></i>
      </button>
    </div>

    <ul class="nav-links menu-1">
      <li><a href="/">Inicio</a></li>
      <li><a href="/tienda">Tienda</a></li>
      <li><a href="#">Acerca De</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>

    <ul class="nav-links menu-2">
      <li class="link-language">
        <a><i class="fas fa-globe"></i></a>
        <ul class="drop-down">
          <li><a>ES</a></li>
          <li><a>EN</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fas fa-shopping-cart"></i></a>
      </li>
      <li class="link-user">
        <a><i class="fas fa-user-circle"></i></a>
        <ul class="drop-down">
          <li><a href="/login">Iniciar sesi&oacute;n</a></li>
          <li><a href="/registro">Registrarse</a></li>          
        </ul>
      </li>
    </ul>
  </nav>
</header>

<script src="js/navbar.js"></script>