:root {
  --var1: #282e5e;
  --var2: #1e234f;
  --var3: #141740;
  --var4: #0a0c31;
  --var5: #000022;
}

* {  
  box-sizing: border-box;
  font-family: "Play", sans-serif;
}

html {
  background-color: var(--var5);
}

body {  
  background-color: var(--var4);
}